<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Şefim Plus</title>
    <script type="importmap"></script>
    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- Web Fonts  -->
    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700,800|Shadows+Into+Light" rel="stylesheet" type="text/css">

    <!-- Vendor CSS -->
    <link rel="stylesheet" href="~/vendor/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="~/vendor/animate/animate.compat.css">
    <link rel="stylesheet" href="~/vendor/font-awesome/css/all.min.css" />
    <link rel="stylesheet" href="~/vendor/boxicons/css/boxicons.min.css" />
    <link rel="stylesheet" href="~/vendor/magnific-popup/magnific-popup.css" />
    <link rel="stylesheet" href="~/vendor/bootstrap-datepicker/css/bootstrap-datepicker3.css" />

    <!-- Theme CSS -->
    <link rel="stylesheet" href="~/css/theme.css" />

    <!-- Skin CSS -->
    <link rel="stylesheet" href="~/css/skins/default.css" />

    <!-- Theme Custom CSS -->
    <link rel="stylesheet" href="~/css/custom.css">

    <!-- Head Libs -->
    <script src="~/vendor/modernizr/modernizr.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.min.css" rel="stylesheet">

    @await RenderSectionAsync("Styles", required: false)
    @await RenderSectionAsync("Css", required: false)

  @*   <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">App.UI</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Admin" asp-action="Index">Admin Panel</a>
                            </li>
                        }
                    </ul>

                    <!-- Kullanıcı menüsü -->
                    <ul class="navbar-nav">
                        @if (User.Identity.IsAuthenticated)
                        {
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-dark" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                    <i class="fas fa-user"></i> @User.Identity.Name
                                </a>
                                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                                    <li><h6 class="dropdown-header">Roller:</h6></li>
                                    @foreach (var role in User.Claims.Where(c => c.Type == System.Security.Claims.ClaimTypes.Role))
                                    {
                                        <li><span class="dropdown-item-text"><small><i class="fas fa-tag"></i> @role.Value</small></span></li>
                                    }
                                    <li><hr class="dropdown-divider"></li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Password" asp-action="PasswordChange">
                                            <i class="fas fa-key"></i> Şifre Değiştir
                                        </a>
                                    </li>
                                    <li>
                                        <a class="dropdown-item" asp-controller="Authentication" asp-action="Logout">
                                            <i class="fas fa-sign-out-alt"></i> Çıkış
                                        </a>
                                    </li>
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Login">
                                    <i class="fas fa-sign-in-alt"></i> Giriş
                                </a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-dark" asp-controller="Authentication" asp-action="Register">
                                    <i class="fas fa-user-plus"></i> Kayıt
                                </a>
                            </li>
                        }
                    </ul>
                </div>
            </div>
        </nav>
    </header> *@
</head>
<body class="loading">

    @RenderBody()

    <script src="~/vendor/jquery/jquery.js"></script>
    <script src="~/vendor/jquery-browser-mobile/jquery.browser.mobile.js"></script>
    <script src="~/vendor/popper/umd/popper.min.js"></script>
    <script src="~/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/vendor/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
    <script src="~/vendor/common/common.js"></script>
    <script src="~/vendor/nanoscroller/nanoscroller.js"></script>
    <script src="~/vendor/magnific-popup/jquery.magnific-popup.js"></script>
    <script src="~/vendor/jquery-placeholder/jquery.placeholder.js"></script>

    <!-- Specific Page Vendor -->
    <!-- Theme Base, Components and Settings -->
    <script src="~/js/theme.js"></script>

    <!-- Theme Custom -->
    <script src="~/js/custom.js"></script>

    <!-- Theme Initialization Files -->
    <script src="~/js/theme.init.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11.7.1/dist/sweetalert2.all.min.js"></script>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>

    @await RenderSectionAsync("Scripts", required: false)


    <script>
        $(document).ready(function() {

            var successMessage = '@Html.Raw(TempData["SuccessMessage"])';
            var errorMessage = '@Html.Raw(TempData["ErrorMessage"])';
            var warningMessage = '@Html.Raw(@TempData["WarningMessage"])';
            var infoMessage = '@Html.Raw(TempData["InfoMessage"])';

            if (successMessage && successMessage !== '') {

                Swal.fire({
                    title: 'Başarılı!',
                    text: successMessage,
                    icon: 'success',
                    position: 'top-end',
                    showConfirmButton: true,
                    timer: 5000
                });
            }
            if (errorMessage && errorMessage !== '') {
                Swal.fire({
                    title: 'Hata!',
                    text: errorMessage,
                    icon: 'error',
                    position: 'top-end',
                    showConfirmButton: true,
                    timer: 5000
                });
            }
            if (warningMessage && warningMessage !== '') {
                Swal.fire({
                    title: 'Uyarı!',
                    text: warningMessage,
                    icon: 'warning',
                    position: 'top-end',
                    showConfirmButton: true,
                    timer: 5000
                });
            }
            if (infoMessage && infoMessage !== '') {
                Swal.fire({
                    title: 'Uyarı!',
                    text: infoMessage,
                    icon: 'info',
                    position: 'top-end',
                    showConfirmButton: true,
                    //confirmButtonText: 'Tamam',
                    timer: 5000
                });
            }
        });
    </script>
</body>
</html>
